In [1]:
from glob import glob
import json
import pandas as pd
import scipy.stats

In [2]:
gt_path = "/Workspace/jh/SharedTask2023/data/summarization/train_summarization.tsv"
gt = pd.read_csv(gt_path, delimiter='\t')

In [3]:
path = "/Workspace/ky/SharedTask2023/results/summarization/Nous-Hermes-13b/train/0.7_1_1_another_sum_prompt2/"
score_results = []

for i in range(320):
    with open(path+f"{i}.json", "r") as f:
        score = json.load(f)['mean_score']
    score_results.append(score)

In [4]:
gt['model_score'] = score_results

In [62]:
(gt.groupby('id')['Score'].var()).sort_values(ascending=False)

id
dm-test-81bd721b16cad47dfd8d24baca5b30b006291db2     3.781250
dm-test-31114653cd606fd3f4b1035f98dedd71f8282cd2     3.336806
cnn-test-fbbafa743a8c2ecd2cedf65c6c61956b2db8ec5c    3.125000
dm-test-9afda3cde191a883d8c166ceb5765eb53205d8f4     2.918981
dm-test-808a439a5d83fc47baaea934c8779a7ebc62470d     2.340278
                                                       ...
dm-test-2abe0f81f5b22c8a406165717e3bd7fce6fe47c6          NaN
dm-test-5be0a9584b051175d9f4842a143b76385335d96a          NaN
dm-test-9d0fcbd873927674d12aafce4ae7754fd591d4e2          NaN
dm-test-b5bc2ae78441e4ac08fb01823d5fc0f1627c3166          NaN
dm-test-e470f0a87d7513bf880412524332047020422c3f          NaN
Name: Score, Length: 97, dtype: float64

In [64]:
ID = "dm-test-808a439a5d83fc47baaea934c8779a7ebc62470d"

df = gt[gt['id']==ID].sort_values(by='Score', ascending=False).reset_index(drop=False)
df

,index,SRC,HYP,Score,model_id,id,model_score
0,14,Referee Mark Clattenburg has been named to tak...,mark clattenburg will take charge of the manch...,4.166667,M17,dm-test-808a439a5d83fc47baaea934c8779a7ebc62470d,1.000
1,190,Referee Mark Clattenburg has been named to tak...,referee mark clattenburg has been named to tak...,3.750000,M14,dm-test-808a439a5d83fc47baaea934c8779a7ebc62470d,1.800
2,299,Referee Mark Clattenburg has been named to tak...,United's win over Liverpool was their first le...,1.333333,M20,dm-test-808a439a5d83fc47baaea934c8779a7ebc62470d,1.875

In [71]:
gt[gt['Score']<3.1].sort_values(by='Score', ascending=False).reset_index(drop=False)

,index,SRC,HYP,Score,model_id,id,model_score
0,76,Radamel Falcao's former Monaco team-mate Nabil...,Nabil Dirar believes Falcao would have been be...,3.083333,M20,dm-test-4001b252a072ac149c70840b22299cc6cfab3bae,1.666667
1,145,(CNN)The parents of the youngest victim of the...,dzhokhar tsarnaev was found guilty on all 30 c...,3.000000,M14,cnn-test-e49792c337d3f4c13e22f710efa44cf6a4e59aba,2.666667
2,154,It may have been her impressive vocals that pr...,"ella henderson , 19-year-old , has been announ...",3.000000,M11,dm-test-9d0fcbd873927674d12aafce4ae7754fd591d4e2,2.800000
3,263,Last week she was barely showing – but Demelza...,fans will see aidan turner 's new baby daughte...,2.916667,M10,dm-test-155754e1f2bc83f6836af78703edd4d00f19f381,1.250000
4,71,There's not been a lot to laugh about this sea...,doncaster 's media team faced a tough challeng...,2.833333,M9,dm-test-998cb27197db1fd299aff3322ac041ba4bf1148f,2.500000
5,206,(CNN)SpaceX on Tuesday launched a two-stage Fa...,( cnn ) spacex on tuesday launched a two - sta...,2.833333,M5,cnn-test-b8b6e729fff27c4eef87887e61d3448de9c063f6,1.333333
6,179,Esteban Cambiasso has won all the major Europe...,esteban cambiasso says that helping keep leice...,2.750000,M2,dm-test-2a48112ddee712f2364f128076cb2db555a043b1,1.666667
7,184,A man has been arrested in connection with the...,Vanessa Santillan worked as a transgender esco...,2.750000,M20,dm-test-36352fd1c61fd0c593ee7b84cbe213aa9b444439,1.666667
8,125,Liverpool manager Brendan Rodgers has reminded...,Liverpool captain Steven Gerrard (left) was un...,2.750000,M20,dm-test-3ba3bde4a1440134bb38ec22ba50db59986b544c,1.166667
9,150,Residents on the east coast of Japan's Hokkaid...,A landslide in the area of Rausu caused an ext...,2.750000,M20,dm-test-8847383b72167c3f3dd2161b5b091b580c8f4da7,4.666667
10,49,River Plate are keen to sign Manchester United...,radamel falcao spent eight years with the arge...,2.666667,M12,dm-test-bd4684a0f5af5dd6ac88d2fb50f902bd7f10217b,2.500000
11,1,One Missouri mom is making the best out of a l...,Becky Schoenig's car was stolen on Monday nigh...,2.666667,M20,dm-test-dea0ed2e587495e516ac85056e21a2076a9a993c,0.666667
12,78,Harry Kane's celebrations this season have alw...,Harry Kane is nominated for both the PFA Playe...,2.583333,M20,dm-test-6c1341bedf92a304318545fbf1aad88651de7909,1.333333
13,193,Roma ended their four-month winless streak at ...,roma beat napoli 4-2 on saturday in a key matc...,2.583333,M8,dm-test-18243373494a1722ddcd162ec67b63dd749633ab,1.533333
14,255,River Plate are keen to sign Manchester United...,radamel falcao spent eight years with the arge...,2.583333,M14,dm-test-bd4684a0f5af5dd6ac88d2fb50f902bd7f10217b,3.250000
15,319,After Chelsea forward Eden Hazard had scored g...,eden hazard scored a 1-0 lead against manchest...,2.583333,M11,dm-test-f468efac7b3c54f8c42c2c81dff108c52ebe0d7d,3.000000
16,131,Former Holland forward and assistant coach Pat...,patrick kluivert has been winning start in wor...,2.500000,M11,dm-test-46609841ffd23e9c22d1507edf7b176ecc4d834f,2.400000
17,273,"Ten people, including four children, have been...",three vehicles collided on brisbane valley hig...,2.500000,M11,dm-test-02c955067d00f38b6978b805d5a8701a787f78ac,1.363636
18,59,Jordan Henderson has provided Liverpool with a...,"Henderson's new deal is worth around £100,000-...",2.333333,M20,dm-test-6f027d030f9ca86446dc893f1d10ced4c9a3561f,0.800000
19,277,Esteban Cambiasso has won all the major Europe...,foxes are currently seven points adrift at the...,2.333333,M11,dm-test-2a48112ddee712f2364f128076cb2db555a043b1,2.166667
20,158,Roma ended their four-month winless streak at ...,roma beat napoli beat napoli in serie a on sat...,2.250000,M11,dm-test-18243373494a1722ddcd162ec67b63dd749633ab,0.900000
21,79,(CNN)One of the biggest TV events of all time ...,"a&e , lifetime and history are remaking the mi...",2.166667,M10,cnn-test-fbbafa743a8c2ecd2cedf65c6c61956b2db8ec5c,3.750000
22,228,Wales' crunch Euro 2016 qualifier with Belgium...,the top two sides in group b meet at cardiff c...,2.166667,M11,dm-test-31114653cd606fd3f4b1035f98dedd71f8282cd2,0.750000
23,205,Nathan Hughes on Friday night had his ban for ...,Wasps appealed against the three-match ban imp...,1.916667,M20,dm-test-81bd721b16cad47dfd8d24baca5b30b006291db2,2.000000
24,285,Arsenal manager Arsene Wenger does not know th...,alexis sanchez is glad chile forward will be l...,1.833333,M11,dm-test-9afda3cde191a883d8c166ceb5765eb53205d8f4,0.800000
25,259,Paul Merson has restarted his row with Andros ...,paul merson was brought on with only seven min...,1.750000,M11,dm-test-8764fb95bfad8ee849274873a92fb8d6b400eee2,1.333333
26,299,Referee Mark Clattenburg has been named to tak...,United's win over Liverpool was their first le...,1.333333,M20,dm-test-808a439a5d83fc47baaea934c8779a7ebc62470d,1.875000

In [57]:
idx = 11

df = gt[gt['id']==gt['id'][idx]].sort_values(by='Score', ascending=False).reset_index(drop=False)
df

,index,SRC,HYP,Score,model_id,id,model_score
0,55,Last week she was barely showing – but Demelza...,demelza poldark is now the proud mother to the...,4.833333,M23,dm-test-155754e1f2bc83f6836af78703edd4d00f19f381,3.000000
1,135,Last week she was barely showing – but Demelza...,demelza poldark is now the proud mother to the...,4.750000,M8,dm-test-155754e1f2bc83f6836af78703edd4d00f19f381,0.600000
2,176,Last week she was barely showing – but Demelza...,last week demelza poldark was barely showing –...,4.750000,M17,dm-test-155754e1f2bc83f6836af78703edd4d00f19f381,2.000000
3,42,Last week she was barely showing – but Demelza...,demelza poldark is now the proud mother to the...,4.416667,M12,dm-test-155754e1f2bc83f6836af78703edd4d00f19f381,0.000000
4,11,Last week she was barely showing – but Demelza...,within ten minutes of tomorrow night 's episod...,3.916667,M1,dm-test-155754e1f2bc83f6836af78703edd4d00f19f381,2.428571
5,263,Last week she was barely showing – but Demelza...,fans will see aidan turner 's new baby daughte...,2.916667,M10,dm-test-155754e1f2bc83f6836af78703edd4d00f19f381,1.250000

In [59]:
df['SRC'][0]

"Last\xa0week she was barely showing – but Demelza Poldark is now the proud mother to the show’s latest addition. Within ten minutes of tomorrow night’s episode, fans will see Aidan Turner’s dashing Ross Poldark gaze lovingly at his new baby daughter. As Sunday night’s latest heartthrob, women across the country have voiced their longing to settle down with the brooding Cornish gentleman – but unfortunately it seems as if his heart is well and truly off the market. Scroll down for video Last week she was barely showing – but Demelza Poldark is now the proud mother to the show’s latest addition He may have married his red-headed kitchen maid out of duty, but as he tells her that she makes him a better man, audiences can have little doubt about his feelings. What is rather less convincing, however, is the timeline of the pregnancy. With the climax of the previous episode being the announcement of the pregnancy, it is quite a jump to the start of tomorrow’s instalment where Demelza, played by Eleanor Tomlinson, talks about being eight months pregnant. Just minutes after – once again without any nod to the passing of time – she is giving birth, with the last month of her pregnancy passing in less than the blink of an eye. With the climax of the previous episode being the announcement of the pregnancy, it is quite a jump to the start of tomorrow’s instalment where Demelza, played by Eleanor Tomlinson, talks about being eight months pregnant As Sunday night’s latest heartthrob, women across the country have voiced their longing to settle down with Poldark – but unfortunately it seems as if his heart is well and truly off the market Their fast relationship didn't go unnoticed by fans. One posted on Twitter: ‘If you are pregnant in Poldark times expect to have it in the next 10 minutes’ It is reminiscent of the show’s previous pregnancy that saw Elizabeth, another contender for Ross’s affection, go to full term in the gap between two episodes. This didn’t go unnoticed by fans, who posted on Twitter: ‘Poldark is rather good, would watch the next one now. Though if you are pregnant in Poldark times expect to have it in the next 10 minutes.’"

In [60]:
df['HYP'][0]

'demelza poldark is now the proud mother to the show’s latest addition . within ten minutes of tomorrow night’s episode, fans will see aidan turner’s dashing ross poldark gaze lovingly at his new baby daughter . it is reminiscent of the show’s previous pregnancy that saw elizabeth, another contender for ross’s affection, go to full term in the gap between two episodes .'

In [61]:
df['HYP'][5]

"fans will see aidan turner 's new baby daughter as sunday night 's episode . last week , demelza poldark is now the mother to the show 's tv episode . demelza poldark has been eight months pregnant ."

In [12]:
print(df['HYP'][1], sep='.')

nathan hughes on friday night had his ban for accidentally knocking out george north sensationally over-turned on appeal , following an outcry on his behalf . the wasps no 8 was initially suspended for three matches , after a disciplinary panel ruled he had been ‘ reckless ’ for failing to prevent his knee colliding with the head of the welsh lion , as he scored a try for northampton on march 27 . hughes was shown a red card for the offence , but that dismissal has now been officially rescinded .

In [30]:
len(score_results)

320

In [31]:
pd.Series(score_results).value_counts()

2.000000    26
1.000000    26
3.000000    19
1.666667    15
0.000000    14
            ..
2.900000     1
0.857143     1
0.500000     1
1.375000     1
1.625000     1
Name: count, Length: 89, dtype: int64

In [32]:
scipy.stats.kendalltau(score_results, gt_score['Score'])[0]

0.11331136754760612

## Orca13B

In [14]:
orca_path = "/Workspace/ky/SharedTask2023/results/summarization/orca_mini_v3_7b/train/0.7_1_1_prompt_mk3/"

In [15]:
orca_score_results = []

In [16]:
import json

In [17]:
for i in range(320):
    with open(orca_path+f"{i}.json", "r") as f:
        score = json.load(f)['mean_score']
    orca_score_results.append(score)

In [18]:
len(orca_score_results)

320

In [20]:
gt['Score']

0      4.583333
1      2.666667
2      4.333333
3      3.583333
4      4.833333
         ...
315    4.916667
316    3.583333
317    4.416667
318    4.583333
319    2.583333
Name: Score, Length: 320, dtype: float64

In [21]:
scipy.stats.kendalltau(orca_score_results, gt['Score'])[0]

0.059550869833880166

In [15]:
pd.Series(wizard_score_results).value_counts()

4.000000    167
3.000000     72
3.333333     21
2.000000     20
2.666667     12
2.333333     12
3.666667     10
1.000000      6
Name: count, dtype: int64

In [18]:
gt_score['Score'][:120]

0      4.583333
1      2.666667
2      4.333333
3      3.583333
4      4.833333
         ...
115    4.583333
116    4.000000
117    4.750000
118    4.583333
119    4.666667
Name: Score, Length: 120, dtype: float64